.headerRow
  display: flex
  justify-content: flex-end
  align-items: center

.storiesContainer,
.stories
  display: flex
  flex-direction: column

.storiesContainer
  gap: 30px
  position: relative
  padding-top: 30px

.stories
  gap: 50px

.story
  cursor: pointer
  transition: .25s ease
  color: black
  text-decoration: none

  &:hover
    color: #3f50b5

.info
  opacity: .5
  display: flex
  gap: 15px
  position: relative

  span.score
    display: flex
    align-items: center

  & > span:not(:last-child):after
    content: '/'
    position: relative
    left: 7px

.mainTitle
  font-size: 64px
  flex-grow: 2